*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
}

.main #cursor{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: rgb(97, 102, 64);
}