* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,body {
    height: 100%;
    width: 100%;
}

#first {
    color: rgb(73, 8, 239);
    font-size: 5rem;
    display: flex;
    justify-self: center;
    text-decoration: underline;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.main h1 {
    font-size: 10rem;
    user-select: none;
}

footer {
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    justify-self: center;
}
#dil {
    margin-left: 1rem;
    
    color: red;
    font-size: 3rem;
   
}